report
  .grid
    figure.effect-terry
      img(src="/img/msexcel.png",alt="msexcel")
      figcaption
        h2 Noisy Terry
        p
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-download
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-times
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-share
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-tags
    figure.effect-terry
      img(src="/img/msexcel.png",alt="msexcel")
      figcaption
        h2 Noisy Terry
        p
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-download
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-heart
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-share
          a(href="http://tympanus.net/Development/HoverEffectIdeas/index2.html#")
            i.fa.fa-fw.fa-tags
