form.form-horizontal(role="form")
  .row
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          input.form-control#inputa(type="text",placeholder="a")
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          input.form-control#inputa(type="text",placeholder="a")
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          input.form-control#inputa(type="text",placeholder="a")
  .row
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          input.form-control#inputa(type="text",placeholder="a")
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          input.form-control#inputa(type="text",placeholder="a")
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          label.checkbox-inline
            input(type="radio", name="gender_filter", value="1", checked=gender=="male")
          label.checkbox-inline
            input(type="radio", name="gender_filter", value="2", checked=gender=="male")
  .row
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          input.form-control#inputa(type="text",placeholder="a")
    .form-group.col-md-4
      .row
        label.col-sm-3.control-label a
        .col-sm-9
          input.form-control#inputa(type="text",placeholder="a")
  .row
    .form-group
      label.col-sm-2.control-label 项目
      .col-sm-8
        label.checkbox-inline
          input#inlineCheckbox1( type="checkbox",value="option1")
        label.checkbox-inline
          input#inlineCheckbox2( type="checkbox",value="option1")
        label.checkbox-inline
          input#inlineCheckbox3( type="checkbox",value="option1")
        label.checkbox-inline
          input#inlineCheckbox4( type="checkbox",value="option1")
        label.checkbox-inline
          input#inlineCheckbox1( type="checkbox",value="option1")
        label.checkbox-inline
          input#inlineCheckbox2( type="checkbox",value="option1")
        label.checkbox-inline
          input#inlineCheckbox3( type="checkbox",value="option1")
        label.checkbox-inline
          input#inlineCheckbox4( type="checkbox",value="option1")
  .row
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-lg.btn-primary(type='submit') 保存
        | &nbsp;
        button.btn.btn-lg.btn-primary(type='submit') 保存
        | &nbsp;
        button.btn.btn-lg.btn-primary(type='submit') 保存
        | &nbsp;
        a.btn(href='/report', title="cancel") 取消
