doctype html
html(lang="zh-Hans-CN")
  include ../includes/head.jade
  body
    #wrapper
      include ../includes/header.jade
      #page-wrapper
        .row
          .col-lg-12
            block main
        .row
          .col-lg-12
            include ../includes/messages.jade
        .row
          .col-lg-12
            block content
    include ../includes/footer.jade
    include ../includes/foot.jade
