doctype html
html(lang="zh-cmn-Hans")
  include ../includes/head.jade
  body
    .container
      include ../includes/header.jade
      .page-header
        block page-header
      .messages
        include ../includes/messages.jade
      .content
        block content
    include ../includes/footer.jade
    include ../includes/foot.jade
